{
  "name": "bungeecord",
  "type": "child",
  "waitTime": 2,
  "await": [
    {
      "type": "socket",
      "connection": "tcp",
      "from": ":25578",
      "to": "localhost:25577"
    }
  ],
  "config": {
    "command": [
      "/usr/bin/java", "-jar", "/srv/Bungee/BungeeCord.jar"
    ],
    "home": "/srv/Bungee",
    "freeze": false
  }
}
